a{
    font-family: "M PLUS Rounded 1c";
    color: blue;
}

p{
    font-family: "M PLUS Rounded 1c";
}

h1{
    font-family: "M PLUS Rounded 1c";
}

h2{
    font-family: "M PLUS Rounded 1c";
}

h4{
    font-family: "M PLUS Rounded 1c";
}